<div class="widget-frame">
    <div *ngIf="!editMode" class="actions">
        <a btn (click)="edit()">edit</a> |
        <a btn (click)="remove()">remove</a>
    </div>
    <div *ngIf="editMode" class="actions">
        <a btn (click)="cancel()">cancel</a>
    </div>
    <div class="content">
    <ng-container *ngIf="!editMode" [ngSwitch]="widget.type">
        <table-widget *ngSwitchCase="'table'" [config]="widget.config"></table-widget>
        <line-chart *ngSwitchCase="'line-chart'" [config]="widget.config"></line-chart>
        <pie-chart *ngSwitchCase="'pie-chart'" [config]="widget.config"></pie-chart>
    </ng-container>
    <ng-container *ngIf="editMode" [ngSwitch]="widget.type">
        <table-widget-editor 
            *ngSwitchCase="'table'" 
            [config]="config"
            (save)="save($event)"
            (cancel)="cancel()"
        ></table-widget-editor>
        <line-chart-editor 
            *ngSwitchCase="'line-chart'" 
            [config]="config"
            (save)="save($event)"
            (cancel)="cancel()"
        ></line-chart-editor>
        <pie-chart-editor
            *ngSwitchCase="'pie-chart'"
            [config]="config"
            (save)="save($event)"
            (cancel)="cancel()"
        ></pie-chart-editor>
    </ng-container>
    </div>
</div>
